@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

body {
    margin: 0;
}

.container.container__flex{
    display: flex;
    &.container__flex__column{
        flex-direction: column;
    }
    &.container__flex__row{
        flex-direction: row;
    }
}

/* layers: */
.layer__outer{
    background: #3D1F3E;
    width: 100vw;
    height: 100vh;
}
.container.container__flex__outermost{
    width: 95%;
    margin-right: 5%;
    flex-direction: column;
    .layer{
        display: flex;
    }
    .layer__blog {
        flex-basis: 88%;
        background: #61C2E8;
    }
    .layer__portfolio {
        flex: 1;
        background: #F1686E;
        flex-direction: column;
        justify-content: center;
        transition: transform .5s;
        transform: translate(0,0);
        &.layer--hidden{
            transform: translate(-90%,0);
        }
    }
    .layer__bio{
        flex-basis: 75%;
        width: 94%;
        background: #F3A6C8;
        transition: transform .5s;
        transform: translate(0, 0);
        &.layer--hidden{
            transform: translate(-95%,0);
        }
    }
}

/* header */
.header.header__global{
    flex-basis: 6%;
    display: flex;
    .nav.nav__global{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .nav-item{
            margin-left: 20px;
            cursor: pointer;
            color: #FEF6E7;
            font-family: 'Poppins', sans-serif;
        }
    }
}

/* footer: */
.footer.footer__global{
    flex-basis: 6%;
    display: flex;
    flex-direction: row;
    .container.container__view-toggle{
        justify-content: center;
        width: 165px;
        padding-left: 15px;
    }
    .container.container__nav.container__nav__arrows{
        flex-basis: 3.8%;
        display: flex;
        flex-direction: row;
        border: 1.5px solid #FEF6E7;
        width: 150px;
        .container__current-view{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 3;
            color: #FEF6E7;
            #currentView{
                text-align: center;
                border-right: 1px solid;
                border-left: 1px solid;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
            }
        }
        .arrow-box{
            display: flex;
            flex: 1.25;
            flex-direction: column;
            justify-content: center;
            .arrow{
                margin: 0 auto;
                color: #FEF6E7;
                cursor: pointer;
                font-size: 14px;
                &.arrow__left{
                    padding-top: 3px;
                }
            }
            &.arrow-box.arrow-box__right{
                transform: rotate(180deg);
            }
        }
    }

    .container.container__social__row{
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 35px;
        .container.container__flex__row{
            width: 100%;
            align-items: center;
        }
        .container.container__icon__row{
            flex: 1;
            display: flex;
            flex-direction: row;
            padding: 0 .7%;
            .container.container__social__icon{
                flex: 1;
            }
            .icon__social{
                text-align: center;
                i{
                    color: #FEF6E7;
                    font-size: 22px;
                }
            }
        }
        .line-segment{
            height: 2px;
            &.line-segment__1{
                background: #FEF6E7;
                flex: 4;
            }
            &.line-segment__2{
                background: #FEF6E7;
                flex: 1.2;
            }
        }
    }
}